host_project_id                 = "pjt-d-shared-base"
service_project_id              = "prj-b-cicd-local-236d"
region                          = "asia-northeast3"
network_name                    = "vpc-d-shared-base"
enable_project_services         = false
create_network_subnets          = false
existing_gke_subnet_name        = "subnet-common-gke"
gke_pod_range_name              = "pods-sbx-main"
gke_service_range_name          = ""
create_private_service_connection = false
private_service_allocated_range_name = "psa-vpc-d-shared-base"
create_backup_bucket            = false
cluster_name                    = "gke-gitlab-stg-01"
gitlab_host_name                = "gitlab-stg"
gitlab_base_domain              = "sonmap.net"
gitlab_gitaly_storage_size      = "20Gi"

gitlab_initial_root_password = "ChangeMe-Use-Strong-Password-1234!"

db_tier              = "db-custom-2-7680"
redis_memory_size_gb = 1
deletion_protection  = false
